<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

    <bean id="userService" class="com.movit.study.spring.aop.example_code.UserService"/>
    <bean id="springAdvice" class="com.movit.study.spring.aop.example_xml.SpringAdviceByXml"/>

    <aop:config>
        <aop:aspect id="testAspect" ref="springAdvice">
            <aop:pointcut expression="execution(* com.movit.study.spring.aop.example_code.UserService.*(..))" id="testPointCut"/>

            <aop:before method="beforeAdvice" pointcut-ref="testPointCut"/>
            <aop:after method="afterAdvice" pointcut-ref="testPointCut"/>
            <aop:around method="aroundAdvice" pointcut-ref="testPointCut"/>
            <aop:after-returning method="afterReturningAdvice" returning="returnValue" pointcut-ref="testPointCut"/>
            <aop:after-throwing method="afterThrowingAdvice" throwing="e" pointcut-ref="testPointCut"/>
        </aop:aspect>

    </aop:config>
</beans>